.DropDown {
  width: 5em;
  color: inherit;
  font: inherit;
  text-transform: uppercase;
  background-color: rgb(242, 175, 28);
  border: 0;
  border-bottom: solid rgb(200, 144, 21) 0.2em;
  outline: solid black 0.1em;
  border-radius: 0.5em;
  padding: 0 0.5em 0.3em;
  cursor: pointer;
}

.DropDown:hover,
.DropDown:focus-visible {
  outline-color: white;
}

.DropDown option {
  color: black;
  background: white;
}
